<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/qrcodecient.js" defer></script>
</head>

<body>
    <h1 id="msg"><%= msg %></h1>
    <img id="qrCodeImage" src="data:image/png;base64,<%= qrcode %>" alt="WhatsApp QR Code" class="sethw">
</body>
</html>