<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button>
        <a href="/automate/whatsapp">Get QR-Code</a>
    </button>
    <button>
        <a href="/automate/easypay">EasyPay</a>
     </button>
</body>
</html>